#header-container{
    text-align: center;
    text-shadow: 2px 2px 4px #726060;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    }


#page-container{
    margin: 0px 10%;
    min-width: 920px;
    background-color: #d1e2f0;
    border-radius: 30px;
    border: solid #000000;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: stretch;
}

#budget-element{
    margin: 20px;
    background-color: #e2f2f5;
    border-radius: 20px;
    border: solid #000000;
    border-width: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.add{
    margin-top: 10px;
    color: white;
    background-color: rgb(34, 122, 238);
    border-radius: 5px;
    text-align: center;
    width: 150px;
    padding: 3px 0px;
}

.delete{
    margin-top: 10px;
    color: white;
    background-color: rgba(238, 34, 34, 0.884);
    border-radius: 5px;
    text-align: center;
    width: 50px;
    padding: 3px 0px;
}

.listItem{
    border-bottom: solid rgb(0, 0, 0);
    border-bottom-width: 1px;
}




html {
  font-size: clamp(16px, 1.2vw + 10px, 28px);
}


